body {
    padding-top:4.0rem;
}

.bar {
    font-size: 18px;
    border:solid 2px #5f9644;
    background: linear-gradient(-90deg, #d5e8d4, #bae1a7);
}

.bar2 {
    font-size: 20px;
    height: 55px;
    background: linear-gradient(-90deg, #dee6e0, #d0e2d0);
}

.mega-dropdown { 
    position: static;
}

.dropdown-menu.mega-dropdown-menu.show { 
    font-size: 20px;
    width: 100%;
    background: linear-gradient(-90deg, #dee6e0, #d0e2d0);
}

.menu, .dropdown-menu {
    background: linear-gradient(-90deg, #dee6e0, #d0e2d0);
}

.grbar {
    
    border:solid 2px #5f9644;
}

.groupconnect {
    font-size: 25px;
    font-family: Times New Roman;
}

.grname {
    font-size: 25px;
    font-family: Times New Roman;
    margin: 0px 0px 0px 40px;
}

/* サイドバー */
.side {
    height: 593px;
    border:solid 2px #5f9644;
    text-align: center;
    /* overflow-y: auto; */
}

.side-top {
    background-color: #bae1a7;
}

.side-grname {
    margin: 0px 0px 0px 20px;
    font-family: Times New Roman;
    color: #000000;
}

.side-up {
    margin: 10px 0px 10px 0px;
    padding: 0px 0px 10px 0px;
    border-bottom: 2px solid #5f9644;
}

.bordlist {
    font-size: 20px;
    margin: 0px 20px 0px 20px;
}

.ctgr {
    font-size: 20px;
    margin: 0px 0px 0px 10px;
}

.create-ctgr {
    float: right;
    margin: 4px 0px 0px 0px;

}

/* カテゴリモーダル */
.modal-category {
    float: left;
}

.side-down {
    height: 440px;
    overflow-y: auto;
}

.sidebar-dropdown {
    float: left;
    margin: 10px 0px 0px 0px;
}

.sidebtn {
    background-color: #fff;
}

.quantity {
    float: right;
    margin: 15px 0px 0px 0px;
}

/* メインコンテンツ */
.right {
    height: 593px;
    border:solid 2px #5f9644;
}

.breadcrumb {
    margin: 0px -15px 0px -15px;
}

.bar3 {
    background-color: #fff;
    margin: 0px -15px 0px -15px;
    border-bottom: 2px solid #5f9644;
}

.bord-name {
    font-size: 30px;
    margin: 3px 0px 0px 0px;
}

.configuration, .borddelete {
    margin: 0px 0px 0px 10px;
}

/* ファイル選択 */
.file-choice {
    width: 700px;
    margin: 10px 0px 0px 0px;
    display: inline-block;
}

.custom-file-input:lang(ja) ~ .custom-file-label::after {
    content: "参照";
}
       
.custom-file {
    max-width: 20rem;
    overflow: hidden;
}

.custom-file-label {
    white-space: nowrap;
  
}

.text {
    width: 800px;
    height: 200px;
    display: block;
}

.file-select {
    margin: 15px 0px 0px 15px;
}

.btn-warning, .post-button, .reply-button {
    width: 95px;
    height: 35px;
    float: right;
    margin: 15px 30px 0px 0px;
}

.post-area {
    height: 477px;
    margin:0px -10px 0px 0px;
    overflow-y: auto;
}

.area {
    margin: 10px 0px 0px 0px; 
    background-color: #a6e288;
}

.post-outside {
    margin: 10px 0px 10px 0px;
}

.post {
    border-top: solid 1px #5f9644;
    border-bottom: solid 1px #5f9644;
}

.Contributor, .time, .time2 {
    margin: 5px 0px 0px 20px;
    display: inline-block;
}

.read {
    margin: 5px 0px 0px 200px;
    display: inline-block;
}

/* 既読モーダル */
.modal-header {
    margin: 0px 0px 0px 190px;
}

.modal-body {
    text-align: center;
}

.modal-read, .modal-notread {
    margin: 10px 0px 0px 0px;
}

.tbl {
    height: 150px;
    overflow-y: auto;
    display: block;
    border: solid 2px #616161;
}

.ok {
    width: 100px;
    margin: 0px 180px 0px 0px;
}

.letter-body {
    margin: 10px 20px 0px 25px;
}

.filename {
    margin: 5px 0px 5px 25px;
    display: inline-block;
}

.download-icon {
    width: 20px;
    height: 20px;
    margin: 0px 0px 0px 5px;
}

.reply-icon {
    width: 25px;
    height: 20px;
    margin: -5px 0px 0px 20px;
}

.reply {
    margin: 10px 0px 0px 5px;
    color: #000;
    display: inline-block;
}

.post-delete {
    margin: 5px 20px 0px 0px;
    float: right;
}

.reply-form {
    display: none;
}