body {
    padding-top:4.0rem;
}

.bar {
    font-size: 18px;
    border:solid 2px #5f9644;
    background: linear-gradient(-90deg, #d5e8d4, #bae1a7);
}

.bar2 {
    font-size: 20px;
    height: 55px;
    background: linear-gradient(-90deg, #dee6e0, #d0e2d0);
}

.mega-dropdown { 
    position: static;
}

.dropdown-menu.mega-dropdown-menu.show { 
    font-size: 20px;
    width: 100%;
    background: linear-gradient(-90deg, #dee6e0, #d0e2d0);
}

.menu, .dropdown-menu {
    background: linear-gradient(-90deg, #dee6e0, #d0e2d0);
}

.grbar {
    border:solid 2px #5f9644;
}

.groupconnect {
    font-size: 25px;
    font-family: Times New Roman;
}

.grname {
    font-size: 25px;
    font-family: Times New Roman;
    margin: 0px 0px 0px 40px;
}

.group-setting {
    font-size: 20px;
    font-weight: bold;
}

/* 情報編集 */
.tab-content {
    min-height: 475px;
    max-height: none;
    border: solid 2px #5f9644;
}

#tab1 {
    height: 470px;
    overflow-y: auto;
}

.right1, .right2, .right3, .right4, .right5, .right6 {
    border-bottom: solid 2px #5f9644;
}

.item {
    font-weight:bold;
    margin: 10px 0px 10px 0px;
}

.change, .closure {
    width: 100px;
    height: 40px;
    margin: 10px 0px 10px 40px;
}

.name-form {
    width: 400px;
    margin: 10px 0px 10px 20px;
    border: solid 1px #000;
}

.contents {
    margin: 10px 0px 10px 20px;
}

img {
    width: 75px;
    height: 75px;
    margin: 10px 0px 10px 20px;
}

.invitation {
    margin: 20px 0px 0px 60px;
}

.modal-title {
    margin: 0px 0px 0px 200px;
}

.modal-body2 {
    margin: 0px 0px 0px 120px;
}

#tbl1 {
    width: 70%;
}

#close {
    margin: 0px 100px 0px 0px;
}

.invitation, .withdrawal, .delete {
    width: 100px;
    height: 40px;
    
    display: inline-block;
}

.withdrawal, .delete {
    margin: 20px 0px 0px 0px;
    float: right;
}

.withdrawal {
    margin: 20px 80px 0px 0px;
}

.list {
    width: 93%;
    height: 385px;
    margin: 0px 0px 0px 30px;
}

thead, tbody {
    display: block;
}

tbody {
    height: 320px;
    overflow-y: auto;
}

th, td {
    width: 319px;
}

.member-expulsion, .Authorization, .authority-deprivation {
    margin: 0px 10px 0px 0px;
}