body {
    padding-top:4.0rem;
}

.bar {
    font-size: 18px;
    border:solid 2px #5f9644;
    background: linear-gradient(-90deg, #d5e8d4, #bae1a7);
}

.bar2 {
    font-size: 20px;
    height: 55px;
    background: linear-gradient(-90deg, #dee6e0, #d0e2d0);
}

.mega-dropdown { 
    position: static;
}

.dropdown-menu.mega-dropdown-menu.show { 
    font-size: 20px;
    width: 100%;
    background: linear-gradient(-90deg, #dee6e0, #d0e2d0);
}

.menu, .dropdown-menu {
    background: linear-gradient(-90deg, #dee6e0, #d0e2d0);
}

.grbar {
    
    border:solid 2px #5f9644;
}

.groupconnect {
    font-size: 25px;
    font-family: Times New Roman;
}

.grname {
    font-size: 25px;
    font-family: Times New Roman;
    margin: 0px 0px 0px 40px;
}

.history {
    margin: 15px 0px 20px 20px;
}

.grouplist {
    margin: 0px 0px 0px 30px;
}

.sort1 {
    float: right;
    margin: 0px 70px 0px 0px;
}

.sort2 {
    float: right;
    margin: 0px 20px 0px 0px;
}

.list {
    width: 90%;
    height: 385px;
    margin: 30px 0px 0px 60px;
    overflow-y: auto;
}

.day {
    text-align: right;
}