.area {
    background: linear-gradient(-90deg, #d5e8d4, #bae1a7);
}

h1 {
    font-size: 90px;
    font-family: Times New Roman;
    text-align: center;
}

.reset {
    width: 25%;
    font-size: 30px;
    text-align: center;
    margin: 20px 0px 0px 0px;
    border-bottom: 2px solid #5f9644;
}

form {
    text-align: center;
}

.submit {
    width: 160px;
    height: 35px;
    font-size: 20px;
    margin: 50px 0px 0px 0px;
    background-color: #ffda37;
}

.form-group {
    text-align: left;
}

ul {
    list-style: none;
}
li {
    color: #ff0000;
    text-align: center;
}