body {
    padding-top:4.0rem;
}

.navbar {
    border:solid 2px #5f9644;
    background: linear-gradient(-90deg, #d5e8d4, #bae1a7);
}

.groupconnect {
    font-size: 25px;
    font-family: Times New Roman;
}

/* サイドバー */
.left {
    text-align: left;
    border:solid 2px #5f9644;
}

.setting {
    font-size: 20px;
    margin: 12px 0px 0px 0px;
    display: block;
}

/* メインコンテンツ */
.right {
    height: 593px;
    border: solid 2px #5f9644;
}

p {
    font-size: 30px;
    margin: 80px 0px 0px 80px;
}

.back {
    font-size: 30px;
    margin: 30px 0px 0px 240px;
    display: block;
}