body {
    background: linear-gradient(-90deg, #d5e8d4, #bae1a7);
}

.headline {
    text-align: center;
}

.headline h1 {
    font-size: 60px;
    margin: 40px 0px 0px 0px;
}

.headline p {
    font-size: 17px;
    margin: 20px 0px 0px 0px;
}

.headline h2 {
    font-size: 25px;
    margin: 20px 0px 0px 0px;
}

.headline .btn {
    margin: 25px 0px 0px 0px;
}
    
.loginform {
    margin: 0 auto;
    padding: 45px 0px 45px 0px;
}

.loginform form {
    font-size: 13px;
    width: 85%;
    margin: 0 auto;
    border: solid 1px #333333;
    padding: 8px; 
    background: #fff;
}

.loginform .mail {
    border: 1px solid;
    margin: 0px 0px 8px 0px;
}

.loginform .mailblank {
    color: #ff0000;
    font-size: 10px;
    display: none;
}

.loginform .mailformatcheck {
    color: #ff0000;
    font-size: 10px;
    display: none;
}

.loginform .pass {
    border: 1px solid;
    margin: 0px 0px 8px 0px;
}

.loginform .passblank {
    color: #ff0000;
    font-size: 10px;
    display: none;
}

.loginform .passformatcheck {
    color: #ff0000;
    font-size: 10px;
    display: none;
}

.loginform .save{
    margin: 0px 0px 8px 0px;
}

.loginform .button {
    margin: 0px 0px 8px 0px;
}

.loginform .forget {
    font-size: 10px;
}

@media only screen and (min-width: 641px) and (max-width: 767px) {
    .loginform {
        margin: 0 auto;
        padding: 45px 0px 45px 0px;
    }
    
    .loginform form {
        font-size: 13px;
        width: 85%;
        margin: 0 auto;
        border: solid 1px #333333;
        padding: 8px;
        text-align: center; 
        background: #fff;
    }
    
    .loginform mail {
        border: 1px solid;
        margin: 0px 0px 8px 0px;
    }
    
    .loginform .pass {
        border: 1px solid;
        margin: 0px 0px 8px 0px;
    }
    
    .loginform .save{
        margin: 0px 0px 8px 0px;
    }
    
    .loginform .button {
        margin: 0px 0px 8px 0px;
    }
    
    .loginform .forget {
        font-size: 10px;
    }
}

@media screen and (max-width: 640px) {
    .loginform {
        margin: 0 auto;
        padding: 45px 0px 45px 0px;
    }
    
    .loginform form {
        font-size: 13px;
        width: 85%;
        margin: 0 auto;
        border: solid 1px #333333;
        padding: 8px;
        text-align: center; 
        background: #fff;
    }
    
    .loginform .mail {
        border: 1px solid;
        margin: 0px 0px 8px 0px;
    }

    .loginform .pmail {
        font-size: 5px;
        display: none;
    }
    
    .loginform .pass {
        border: 1px solid;
        margin: 0px 0px 8px 0px;
    }
    
    .loginform .save{
        margin: 0px 0px 8px 0px;
    }
    
    .loginform .button {
        margin: 0px 0px 8px 0px;
    }
    
    .loginform .forget {
        font-size: 10px;
    }
}