{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title> グループ設定 </title>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, inital-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'GroupConnect/css/group_setting.css' %}" />
    </head>
    <body>
        <div  class="nav-bar fixed-top">
            <!-- ナビゲーションバー -->
            <nav class="navbar navbar-expand-sm navbar-light bar">
                <a class="navbar-brand groupconnect" href="{% url 'GroupConnect:mypage' %}">GroupConnect</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="Navber">
                    <ul class="navbar-nav">
                        <li class="nav-item active dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            グループ
                            </a>
                            <div class="dropdown-menu menu" aria-labelledby="navbarDropdown">
                                <!-- 参加グループ一覧 -->
                                {% for group in groups %}
                                    <a class="dropdown-item" href="{% url 'GroupConnect:group_top' group.pk %}">{{group.group_id.group_name}}</a>
                                {% endfor %}
                                <a class="dropdown-item" href="{% url 'GroupConnect:group_list'%}">グループ一覧へ</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item active dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            アカウント
                            </a>
                            <div class="dropdown-menu menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'GroupConnect:user_update' user.pk %}">プロフィール設定</a>
                                <a class="dropdown-item" href="mail_setting">メール設定</a>
                                <a class="dropdown-item" href="pass_setting">パスワード設定</a>
                                <a class="dropdown-item" href="#">ログアウト</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item active dropdown mega-dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            グループメニュー
                            </a>
                            <div class="dropdown-menu mega-dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item d-inline grname" href="{% url 'GroupConnect:group_top' group.pk %}">{{group.group_name}}</a>
                            <a class="dropdown-item d-inline" href="bordlist">掲示板</a>
                            <a class="dropdown-item d-inline" href="#">メンバー一覧</a>
                            <a class="dropdown-item d-inline" href="group_setting">設定</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="p-3">
            <div>
                <p class="group-setting">グループ設定</p>
                <!-- タブボタン部分 -->
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#tab1" type="button" class="nav-link active" data-toggle="tab">情報編集</a>
                    </li>
                    <li class="nav-item">
                        <a href="#tab2" type="button" class="nav-link" data-toggle="tab">メンバー管理</a>
                    </li>
                </ul>

                <!--タブのコンテンツ部分-->
                <div class="tab-content">
                    <div id="tab1" class="tab-pane active">
                        <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                            <div class="col-lg-12 right1">
                                <!-- グループ名 -->
                                <div class="row">
                                    <div class="col-lg-2">
                                        <p class="item">グループ名</p>
                                    </div>
                                    <div class="col-lg-10">
                                        <input type="text" name="group_name" class="name-form" value="{{group.group_name}}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 right2">
                                <!-- アイコン -->
                                <div class="row">
                                    <div class="col-lg-2">
                                        <p class="item">グループアイコン</p>
                                    </div>
                                    <div class="col-lg-3">
                                        <img class="rounded border" src="{{ group.icon.url }}">
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="d-inline">
                                            <label class="input-group-btn">
                                                <span class="btn btn-primary">
                                                    画像の選択<input type="file" name="icon" style="display:none">
                                                </span>
                                            </label>
                                            <input type="text" class="form-control d-inline form" readonly="">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 right3">
                                <!-- 作成日時 -->
                                <div class="row">
                                    <div class="col-lg-2">
                                        <p class="item">作成日時</p>
                                    </div>
                                    <div class="col-lg-10">
                                        <p class="contents">{{group.created_at}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 right4">
                                <!-- 作成者 -->
                                <div class="row">
                                    <div class="col-lg-2">
                                        <p class="item">作成者</p>
                                    </div>
                                    <div class="col-lg-10">
                                        <p class="contents">{{group.author}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 right5">
                                <!-- メンバー数 -->
                                <div class="row">
                                    <div class="col-lg-2">
                                        <p class="item">メンバー数</p>
                                    </div>
                                    <div class="col-lg-10">
                                        <p class="contents">{{count}}名</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 right6">
                                <!-- お知らせ -->
                                <div class="row">
                                    <div class="col-lg-2">
                                        <p class="item">メンバーへのお知らせ</p>
                                    </div>
                                    <div class="col-lg-10">
                                        <div class="textarea">  
                                            <div class="rounded p-4">
                                                <div class="form-group d-inline">
                                                    <textarea name="notice" class="border border-dark form-control" id="exampleFormControlTextarea1" rows="7">{{group.notice}}</textarea>
                                                </div>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 right7">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <div class="nav-item active d-inline">
                                            <input type="submit" class="btn btn-warning change" value="変更する">
                                        </div>
                                    </div>
                            </form>
                            <form action="{% url 'GroupConnect:groupdelete' %}" method="POST">
                                {% csrf_token %}
                                <div class="nav-item active d-inline">
                                    <div class="col-lg-2">
                                        <input type="button" class="btn closure" data-toggle="modal" data-target="#basicModal" value="閉鎖する">                                                                        
                                    </div>
                                    <div class="modal fade"id="basicModal"tabindex="-1"role="dialog"aria-labelledby="basicModal"aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <h3>この操作は元に戻せません。<br>閉鎖してもよろしいですか？</h3>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary" name="delete" value="{{group.pk}}">はい</button>
                                                    <button type="button" class="btn btn-default"data-dismiss="modal">いいえ</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                                </div>
                            </div>



                    </div>

                    <div id="tab2" class="tab-pane">
                            <div>                                    
                                <div class="invitation">
                                    <!-- <input type="button" class="btn btn-warning" value="招待する"> -->
                                    <input type="button" class="btn btn-warning" id="btn2" value="招待する">
                                        <!-- modal content -->
                                        <form action="{% url 'GroupConnect:mailsend' %}" method="POST" id="invite">
                                        {% csrf_token %}
                                        <div class="modal fade" id="modal">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <!-- モーダルヘッダー -->
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">招待する</h5>
                                                    </div>
                                                    <!-- モーダルボディ -->
                                                    <div class="modal-body2">
                                                        <p>メールアドレス</p>
                                                        <input type="email" class="form-control d-inline form" name="mailaddress">
                                                        <p class="email-error">メールアドレスが入力されていません</p>                          
                                                    </div>
                                                    <!-- モーダルフッター -->
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary" name="invite" value="{{group.pk}}">招待</button>
                                                        <button type="button" class="btn btn-secondary" id="close">キャンセル</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </form>
                                </div>
                                <div class="withdrawal">
                                    <input type="button" class="btn" data-toggle="modal" data-target="#basicModal2" value="脱退する">
                                    <form action="{% url 'GroupConnect:groupsecession' %}" method="POST">
                                        {% csrf_token %}
                                        <div class="modal fade"id="basicModal2"tabindex="-1"role="dialog"aria-labelledby="basicModal"aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <h3>この操作は元に戻せません。<br>脱退してもよろしいですか？</h3>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary" name="secession" value="{{group.pk}}">はい</button>
                                                        <button type="button" class="btn btn-default"data-dismiss="modal">いいえ</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            
                            <div class="list">
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>名前</th>
                                            <th scope="col">メールアドレス</th>
                                            <th scope="col">ステータス</th>
                                            <th scope="col">操作</th>
                                        </tr>
                                　</thead>
                                    <tbody>
                                        {% for member in members %}
                                            <tr>
                                            <th scope="row">{{member.name}}</th>
                                            <td>{{member.user_id.email}}</td>
                                            {% if member.authority == True %}
                                                <td>管理者</td>
                                            {% else %}
                                                <td></td>
                                            {% endif %}
                                            <td class="status">
                                                {% if mymember.authority == True %}
                                                    {% if member.user_id.id != myid %}
                                                        <form action="{% url 'GroupConnect:operation' %}" method="POST">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="group_pk" value="{{group.pk}}">
                                                            <button type="button" class="btn btn-primary Authorization" data-toggle="modal" data-target="#basicModal3" value="{{member.id}}">権限付与</button>
                                                            <button type="submit" class="btn btn-primary member-expulsion" data-toggle="modal" data-target="#basicModal4" name="expulsion" value="{{member.id}}">除名</button>
                                                        </form>
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            </tr>
                                        
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>



        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'GroupConnect/js/group_setting.js' %}"></script>
    </body>
</html>