{% extends "GroupConnect/base.html" %}
{% block content %}
<div class="row">
    <div class="card col-md-6">
        <div class="card-body">
            <a href="{% url 'GroupConnect:user_create' %}" class="btn btn-success btn-lg btn-block" >新規登録</a>
        </div>
    </div>
    <div class="card col-md-6">
        <div class="card-body">
            <form action="{% url 'GroupConnect:login' %}" method="POST">
                {{ form.non_field_errors }}
                {% for field in form %}
                    {{ field }}
                    {{ field.errors }}
                    <hr>
                {% endfor %}
                <button type="submit" class="btn btn-success btn-lg btn-block" >ログイン</button>
                <input type="hidden" name="next" value="{{ next }}" />
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>

{% endblock %}