{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title> 新規登録(本登録) </title>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, inital-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'GroupConnect/css/main_entry.css' %}" />
    </head>
    <body>
        <div class="rounded p-2 area">
            <h1>GroupConnect</h1>
        </div>
        <p class="shinki">新規登録(本登録)</p>
        <form action="{% url 'GroupConnect:main_entry_conf' %}" method="get">
            {% csrf_token %}
            <div class="container">
                <div class="row">
                        <div class="col-md-4 entryform1">
                            <div class="form-group">
                                <label for="name">名前<span>[必須]</span></label>
                                <p class="nameblank">　</p>
                            </div>
                            <div class="form-group">
                                <label for="romaji">名前(ローマ字)<span>[必須]</span></label>
                                <p class="romajiblank">　</p>
                            </div>
                            <div class="form-group">
                                <label for="mail">メールアドレス<span>[必須]</span></label>
                                <p class="mailblank">　</p>
                            </div>
                            <div class="form-group">
                                <label for="pass">パスワード<span>[必須]</span></label>
                                <p class="passblank">　</p>
                                <p class="passformatcheck">　</p>
                            </div>
                            <div class="form-group">
                                <label for="passconf">パスワード(確認用)<span>[必須]</span></label>
                            </div>
                        </div>
                        <div class="col-md-8 entryform2">
                            <div class="form-group">
                                <input type="" name="name" class="name">
                                <p class="nameblank">名前を入力してください。</p>
                            </div>
                            <div class="form-group">
                                <input type="" name="romaji" class="romaji">
                                <p class="romajiblank">名前(ローマ字)を入力してください。</p>
                            </div>
                            <div class="form-group">
                                <input type="email" name="mail" class="mail">
                                <p class="mailblank">メールアドレスを入力してください。</p>
                            </div>
                            <div class="form-group">
                                <input type="password" id="pass" name="pass" class="pass" /><img src="{% static 'GroupConnect/img/目アイコン.jpg' %}" id="passcheck">
                                <p class="passblank">パスワードを入力してください。</p>
                                <p class="passformatcheck">半角英数字を8文字以上32文字以下で入力してください。</p>
                            </div>
                            <div class="form-group">
                                <input type="password" id="passconf" name="passconf" class="passconf" /><img src="{% static 'GroupConnect/img/目アイコン.jpg' %}" id="passcheck2">
                                <p class="passconfblank">パスワードを入力してください。</p>
                                <p class="passconfformatcheck">半角英数字を8文字以上32文字以下で入力してください。</p>
                                <p class="passconfdifferent">パスワードとパスワード(確認用)が異なります</p>
                            </div>
                        </div>
                </div>　
            </div>
            <input type="submit" class="submit" value="確認画面へ">
        </form>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script type="text/javascript" src="static/GroupConnect/js/main_entry.js"></script>
    </body>
</html>