{% load static %}

<p>
    {{ signboard.id }}
</p>
<p>
    {{ signboard.group_id }}
</p>
<p>
    {{ signboard.title }}
</p>
<p>
    {{ signboard.category }}
</p>
<p>
    {{ signboard.text }}
</p>

<form action="{% url 'GroupConnect:signboard' signboard.id %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit">送信</button>
</form>

{% for post in post_list %}
    <p>
        {{ post.id }}
    </p>
    <p>
        {{ post.text }}
    </p>
    <p>
        {{ post.contributer }}
    </p>
    <p>
        {{ post.created_at }}
    </p>
    <p>
        {{ post.read_number }}
    </p>
{% endfor %}
